extends layout

block content
  h1 #{title}: #{book.name}
  p #[strong Author:] 
    a(href=book.author.url) #{book.author.name}
  p #[strong Summary:] #{book.summary}
  p #[strong ISBN:] #{book.isbn}
  p #[strong Genre:]&nbsp;
    each val, index in book.genre
      a(href=val.url) #{val.name}
      if index < book.genre.length - 1
        |, 
  
  if book_instances.length
  
    p #[strong Delete the following instances before attempting to delete this book.]
  
    div(style='margin-left:20px;margin-top:20px')

      h4 Instances
    
      ul
        each val in book_instances
          li 
            a(href=val.url) #{book.title} : #{val.imprint} - 
            if val.status=='Available'
              span.text-success #{val.status}
            else if val.status=='Maintenance'
              span.text-danger #{val.status}
            else
              span.text-warning #{val.status} 
            if val.status!='Available'
              span  (Due: #{val.due_back_formatted} )

        else
          li There are no book copies in this library.

  else
    p Do you really want to delete this Book?
    
    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden',name='bookid', required='true', value=book._id )

      button.btn.btn-primary(type='submit') Delete
